.btn {
  padding: .5rem 1rem;
}

@each $name, $color in $theme-colors {
  .btn-#{$name} {
    background-color: adjust-hue($color, 10);
    border: 1px solid darken($color, 60);


    box-shadow: 0 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 5px rgba($color, 0.7), 5px 5px 15px 5px rgba(0, 0, 0, 0);

    &:hover {

    }
  }
}


.card {
  width: 200px;
  height: 400px;
  background-color: #1c1c1c;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: recommendedAni 3s infinite linear;
}

@keyframes recommendedAni {
  0% {box-shadow: rgb(89 194 81) 0px 0px 50px;}
  50% {box-shadow: rgb(89 194 81) 0px 0px 100px;}
  100% {box-shadow: rgb(89 194 81) 0px 0px 50px;}
}

body {
  background-color: gray;
}
